{% extends 'base.html' %}



{% block content %}
<h1>First Practice at this</h1>
<p>Welcome to lexis Math practice. Lets get to it.</p>

<h6>Please pick your category:</h6>
<ul>
    <li><a href="">Addition:</a></li>
    <li><a href="">Subtraction:</a></li>
    <li><a href="">Multiplication:</a></li>
    <li><a href="">Division:</a></li>
</ul>

<div class="practice">
    <form action="/index">
        {% csrf_token %}
        <label for="problem1">{{ problem }}</label>
        <input type="integer" name="problem1" id="problem1">
        <button class="btn btn-danger">Submit</button>
    </form>
</div>
{% endblock %}